<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RiegoControl</h1>
    <p>Esta es la interfaz de configuración de RiegoControl</p>
    <h1>Sensores</h1>
    <table border = "1">
    <tr>
        <td> Nombre </td>
        <td> Valor </td>
        <td> Fecha </td>
    </tr>
    {% for x in sensors %}
        <tr>
            <td> {{ x.name }}</td>
            <td> {{ x.value }}</td>
            <td> {{ x.date }}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>