<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>RiegoControl</h1>
    <p>Esta es la interfaz de configuración de RiegoControl</p>
    <h1>Sensores</h1>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Nombre </th>
                <th scope="col"> Types </th>
                <th scope="col"> LoRa ID </th>
            </tr>
        </thead>
        <tbody>
            {% for x in sensors %}
                <tr>
                    <td scope="row">
                        <a href="{% url 'config/sensor' sensor_id=x.id  %}">{{x.name}}</a>
                    </td>
                    <td scope="row"> {{ x.types }} </td>
                    <td scope="row"> {{ x.lora_id }} </td>
                </tr>
                {%endfor%}
        </tbody>
    </table>

    <h2>Actuadores</h2>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Nombre </th>
                <th scope="col"> LoRa ID </th>
            </tr>
        </thead>
        <tbody>
            {% for x in actuators %}
                <tr>
                    <td scope="row">
                        <a href="{% url 'config/actuator' actuator_id=x.id  %}">{{x.name}}</a>
                    </td>
                    <td scope="row"> {{ x.lora_id }} </td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
    
</body>
</html>